footer{
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
footer .pagotarjeta{
    margin-bottom: 10px;
    color: #666;
}
footer .enviogratis{
    margin-bottom: 10px;
    color: #666;
}
footer .protegido{
    margin-bottom: 10px;
    color: #666;
}
#iconos-footer{
    color: #1259c3;
    font-size: 2em;
    transition: all .3s;
}
#iconos-footer:hover{
    color: #EAC926;
}
#descripcion-footer{
    color: #666;
    margin-top: 1px;
    font-size: 12px
}
#derechosautor{
    margin-top: 50px;
}
