header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-size: 12px;
    width: 100%;
}
.encabezado{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#login a h3{
    color: #03264C;
    text-align: center;
}
#burger-menu a i{
    text-align: center;
    background-color: #1259c3;
    color: white;
    font-size: 21px;
    width: 50px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
}
#banner img{
    width: 100%;
}