<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="stylesheet" href="/css/fonts.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css"> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <section class="encabezado">
            <nav id="header-top">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg">
                </a>
            </nav>
            <form id="busqueda">
                <input type="search" name="search" placeholder="Buscar productos, marcas">
                <a href="/">
                    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </a>
            </form>
            <section id="login">
                <a href="/register">
                    <h3>
                        <i class="fa-solid fa-hand-holding-dollar">
                        </i>
                        <b>Compra en cuotas y sin tarjeta de credito</b>
                    </h3>
                </a>
            </section>
        </section>
        <section class="header-bottom">
            <nav id="primera">
                <a href="/">Ofertas</a>
                <a href="/">Tiendas Oficiales</a>
                <a href="/">Vender</a>
                <a href="/">Ayuda</a>
            </nav>
            <nav id="segunda">
                <a href="/register">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a>
                <a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="/">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
            <nav id="burger-menu">
                <a href="/login"><i class="fa-solid fa-bars"></i></a>
            </nav>      
        </section>        
    </header>
<main>
    <form class="registerhtml" action="/register" method="post">
        <fieldset>
            <label for="nombre-apellido"></label>
            <input type="text" id="nombre-apellido" placeholder="Nombre y Apellido" required>
        </fieldset>
        <fieldset>
            <label for="nombre-usuario"></label>
            <input type="text" id="nombre-usuario" placeholder="Nombre de usuari@" required>
        </fieldset>
        <fieldset>
            <label for="email"></label>
            <input type="email" id="email" placeholder="Email" required>
        </fieldset>
        <fieldset id="fechanacimiento">
            <label for="fecha-de-nacimiento">Fecha de nacimiento</label>
        </fieldset>
        <fieldset>
            <input type="date" id="fecha-de-nacimiento" required>
        </fieldset>
        <fieldset>
            <label for="Domicilio"></label>
            <input type="text" id="Domicilio" placeholder="Domicilio" required>
        </fieldset>
        <fieldset id="perfil">
            <label for="perfil-usuario">Perfil de usuario</label>
        </fieldset>
        <fieldset>
            <label>Comprador</label>
            <input type="radio" name="perfil-usuario" value="comprador" placeholder="Comprador">
        </fieldset>
        <fieldset>
            <label>Vendedor</label>
            <input type="radio" name="perfil-usuario" value="Vendedor" placeholder="Vendedor">
        </fieldset>
        <fieldset id="intereses">
            <label for="Intereses">Intereses</label>
        </fieldset>
        <fieldset>
            <label>Electro</label>
            <input type="checkbox" value="Electro" name="Intereses">
        </fieldset>
        <fieldset>
            <label>Moda</label>
            <input type="checkbox" value="Moda" name="Intereses">
        </fieldset>
        <fieldset>
            <label>Hogar</label>
            <input type="checkbox" value="Hogar" name="Intereses">
        </fieldset>
        <fieldset>
            <label>Juguetería</label>
            <input type="checkbox" value="Juguetería" name="Intereses">
        </fieldset>
        <fieldset>
            <label>Vida sana</label>
            <input type="checkbox" value="Vida sana" name="Intereses">
        </fieldset>
        <fieldset id="imagenusuario">
            <label for="imagen"><h3>Foto de usuario</h3></label>
            <input type="file" id="imagen" placeholder="Foto de usuario" required>
        </fieldset>
        <fieldset>
            <label for="paswword"></label>
            <input type="password" id="password" placeholder="Contraseña" required>
        </fieldset>
        <fieldset>
        <label for="confirmar-contraseña"></label>
        <input type="password" id="confirmar-contraseña" placeholder="Confirmar Contraseña" required>
        </fieldset>
        <fieldset>
            <button id="ingresar" type="submit">Enviar</button>
        </fieldset>
        <fieldset>
            <button id="ingresar" type="reset">Borrar todos los datos</button>
        </fieldset>
    </form>
</main>
<footer>
<section>
    <section id="footer2">
        <article class="pagotarjeta">
            <section id="iconos-footer">
                <i class="fa-solid fa-credit-card"></i>
            </section>
            <b>Pagá con tarjeta o en efectivo</b>
            <p id="descripcion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="enviogratis">
            <section id="iconos-footer">
                <i class="fa-solid fa-gift"></i>
            </section>
            <b>Envío gratis desde $ 2.500</b>
            <p id="descripcion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="protegido">
            <section id="iconos-footer">
                <i class="fa-solid fa-user-shield"></i>
            </section>
            <b>Seguridad, de principio a fin</b>
            <p id="descripcion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </article>
        <p id="derechosautor">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body>
</html>