<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="stylesheet" href="/css/fonts.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css"> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <section class="encabezado">
            <nav id="header-top">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg">
                </a>
            </nav>
            <form action="/" method="get" id="busqueda">
                <fieldset>
                    <label for="search"></label>
                    <input type="text" name="search" id="search" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fa-solid fa-search"></i></button>
                </fieldset>
            </form>
            <section id="login">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
            </section>
        </section>
        <section class="header-bottom">
            <nav id="primera">
                <a href="/">Ofertas</a>
                <a href="/">Tiendas Oficiales</a>
                <a href="/">Vender</a>
                <a href="/">Ayuda</a>
            </nav>
            <nav id="segunda">
                <a href="/register">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a>
                <a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="/">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
        </section>    
        <nav id="burger-menu">
            <a href="/register"><i class="fa-solid fa-bars"></i></a>
        </nav>      
    </header>
    <figure id="banner">
        <img src="/images/img-home-banner.jpg">
    </figure>
<main>
    <form class="registerhtml" action="/register" method="post">
        <fieldset>
            <label for="nombre-apellido"></label>
            <input type="text" id="nombre-apellido" placeholder="Nombre y Apellido" required>
        </fieldset>
        <fieldset>
            <label for="nombre-usuario"></label>
            <input type="text" id="nombre-usuario" placeholder="Nombre de usuari@" required>
        </fieldset>
        <fieldset>
            <label for="email"></label>
            <input type="email" id="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <label for="fecha-de-nacimiento" id="nacimiento">Fecha de nacimiento</label>
            <input type="date" id="fecha-de-nacimiento" required>
        </fieldset>
        <fieldset>
            <label for="Domicilio"></label>
            <input type="text" id="Domicilio" placeholder="Domicilio" required>
        </fieldset>
        <fieldset id="perfil">
            <label for="perfil-usuario">Perfil de usuario</label>
            <input type="radio" name="perfil-usuario" value="comprador" placeholder="Comprador">
            <input type="radio" name="perfil-usuario" value="Vendedor" placeholder="Vendedor">
        </fieldset>
        <fieldset id="intereses">
            <label for="Intereses">Intereses</label>
            <input type="checkbox" value="Electro" name="Intereses">
            <input type="checkbox" value="Moda" name="Intereses">
            <input type="checkbox" value="Hogar" name="Intereses">
            <input type="checkbox" value="Juguetería" name="Intereses">
            <input type="checkbox" value="Vida sana" name="Intereses">
        </fieldset>
        <fieldset>
            <label for="imagen"></label>
            <input type="image" id="imagen" placeholder="Foto de usuario" required>
        </fieldset>
        <fieldset>
            <label for="paswword"></label>
            <input type="password" id="password" placeholder="Contraseña" required>
        </fieldset>
        <fieldset>
        <label for="confirmar-contraseña"></label>
        <input type="password" id="confirmar-contraseña" placeholder="Confirmar Contraseña" required>
        </fieldset>
        <fieldset>
            <button id="ingresar" type="submit">Enviar</button>
        </fieldset>
        <fieldset>
            <button id="ingresar" type="reset">Borrar todos los datos</button>
        </fieldset>
    </form>
</main>
<footer>
        <section id="iconos-footer">
            <a href=""><i class="fa-solid fa-credit-card"></i></a>
        </section>
        <section id="articulo-footer">Pagá con tarjeta o en efectivo</section>
        <p id="descripcion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <section id="iconos-footer">
            <a href=""><i class="fa-solid fa-gift"></i></a>
        </section>
        <section id="articulo-footer">Envío gratis desde $ 2.500</section>
        <p id="descripcion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <section id="iconos-footer">
            <a href=""><i class="fa-solid fa-user-shield"></i></a>
        </section>
        <section id="articulo-footer">Seguridad, de principio a fin</section>
        <p id="descripcion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
</footer>
</body>
</html>